[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pillow = "*"
pdf2image = "*"
pathvalidate = "*"
jsonschema = "*"
tqdm = "*"

[dev-packages]
pyinstaller = "*"
coverage = "*"
pywin32-ctypes = "*"
pefile = "*"

[requires]
python_version = "3.12"
